<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>View Employee Details</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/hr">HR Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/employees">All Employees</a></li>
                    <li><i class="fa fa-bars"></i>View Employee Details</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <form class="form-horizontal" th:action="@{/employee}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            View Employee Details
                        </header>
                        <br>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Id</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.id}" name="id"
                                               readonly placeholder="Id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlTitleEdit" class="col-sm-4 col-form-label">Title</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlTitleEdit" name="title" readonly="">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="Mr." th:selected="${employee.title} == 'Mr.'">Mr.</option>
                                            <option value="Ms." th:selected="${employee.title} == 'Ms.'">Ms.</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Initials</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.initials}"
                                               name="initials" readonly placeholder="Initials">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Social Security No.</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control"
                                               th:value="${employee.socialSecurityNumber}" name="socialSecurityNumber"
                                               readonly placeholder="Social Security Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">First name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${employee.firstName}"
                                               name="firstname" readonly placeholder="Firstname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Last name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" readonly th:value="${employee.lastName}"
                                               name="lastname" placeholder="Lastname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Other name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" readonly
                                               th:value="${employee.otherName}" name="othername"
                                               placeholder="Othername">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlGenderEdit" class="col-sm-4 col-form-label">Gender</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" readonly id="ddlGenderEdit" name="gender">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="MALE" th:selected="${employee.gender} == 'MALE'">MALE
                                            </option>
                                            <option value="FEMALE" th:selected="${employee.gender} == 'FEMALE'">FEMALE
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlNationalityEdit"
                                           class="col-sm-4 col-form-label">Nationality</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" readonly id="ddlNationalityEdit" name="country">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="country : ${countries}"
                                                    th:selected="${country.id} == ${employee.getCountry().getId()}?True:False"
                                                    th:value="${country.id}"
                                                    th:text="${country.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Address</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" readonly th:field="${employee.address}"
                                                  name="address" placeholder="Address" rows="2"></textarea>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Date of Birth</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" readonly th:field="${employee.dateOfBirth}" name="dateOfBirth" placeholder="Date of Birth">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Hire Date</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" readonly th:field="${employee.hireDate}"
                                               name="hireDate" placeholder="Hire Date">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlStateEdit" class="col-sm-4 col-form-label">State</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlStateEdit" readonly name="state">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="state : ${states}"
                                                    th:selected="${state.id} == ${employee.getState().getId()}?True:False"
                                                    th:value="${state.id}"
                                                    th:text="${state.capital}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Phone</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" readonly th:value="${employee.phone}"
                                               name="phone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Mobile</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" readonly th:value="${employee.mobile}"
                                               name="mobile" placeholder="Mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlMaritalStatusEdit" class="col-sm-4 col-form-label">Marital Status</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" readonly id="ddlMaritalStatusEdit"
                                                name="maritalStatus">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option value="Married"
                                                    th:selected="${employee.maritalStatus} == 'Married'">Married
                                            </option>
                                            <option value="Single" th:selected="${employee.maritalStatus} == 'Single'">
                                                Single
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" readonly th:value="${employee.email}"
                                               name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlJobTitleEdit" class="col-sm-4 col-form-label">Job Title</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlJobTitleEdit" readonly name="jobTitle">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="jobTitle : ${jobTitles}"
                                                    th:selected="${jobTitle.id} == ${employee.getJobTitle().getId()}?True:False"
                                                    th:value="${jobTitle.id}"
                                                    th:text="${jobTitle.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlEmployeeTypeEdit" class="col-sm-4 col-form-label">Employee Type</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlEmployeeTypeEdit" readonly
                                                name="employeeType">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="employeeType : ${employeeTypes}"
                                                    th:selected="${employeeType.id} == ${employee.getEmployeeType().getId()}?True:False"
                                                    th:value="${employeeType.id}"
                                                    th:text="${employeeType.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
                        <a th:href="@{'/employee/edit/'+${employee.id}}" class="btn btn-primary">
                            Edit this record
                        </a>
                        <a href="/employees" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>
