<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>View Invoice Details Record</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/accounts">Accounts Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/invoices">Invoices</a></li>
                    <li><i class="fa fa-square-o"></i>View Invoice Details Record</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form class="form-horizontal" >
                        <section class="panel">
                            <header class="panel-heading">
                                View Invoice Details Record
                            </header>
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Invoice Date</label>
                                    <div class="col-sm-6">
                                        <input type="date" th:value="${invoice.invoiceDate}"
                                               class="form-control" name="invoiceDate" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Invoice Status</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="invoiceStatus" readonly>
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="invoiceStatus : ${invoiceStatuses}"
                                                    th:selected="${invoiceStatus.id} == ${invoice.getInvoiceStatus().getId()}?True: False"
                                                    th:value="${invoiceStatus.id}"
                                                    th:text="${invoiceStatus.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Client</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="client" readonly>
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="client : ${clients}"
                                                    th:selected="${client.id} == ${invoice.getClient().getId()}?True: False"
                                                    th:value="${client.id}"
                                                    th:text="${client.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4">Remarks</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="remarks" th:value="${invoice.remarks}" readonly>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="panel">

                            <div class="panel-body">
                                <button type="submit" class="btn btn-primary" disabled>
                                    Save
                                </button>
                                <a href="/invoices" class="btn  btn-warning">
                                    Exit
                                </a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
