<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<body>
 <div layout:fragment="content">
  <section class="wrapper">
   <div class="row">
    <div class="col-lg-12">
     <h3 class="page-header"><i class="fa fa-laptop"></i> TICKETS </h3>
     <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
     </ol>
    </div>
   </div>
  </section>

  <div class="row">

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Ticket</b></h3></h5>
        <p class="card-text">Check the tickets</p>
        <a href="/countries" class="btn btn-primary">Manage Tickets</a>
       </div>
      </div>
     </div>
    </section>
   </div>

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Ticket Status</b></h3></h5>
        <p class="card-text">Check the tickets status</p>
        <a href="#" class="btn btn-primary">Manage Tickets Status</a>
       </div>
      </div>
     </div>
    </section>
   </div>

  </div>

 </div>
</body>
</html>