<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<body>
 <div layout:fragment="content">
  <section class="wrapper">
   <div class="row">
    <div class="col-lg-12">
     <h3 class="page-header"><i class="fa fa-laptop"></i> FLEET </h3>
     <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
     </ol>
    </div>
   </div>
  </section>

  <div class="row">

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Types</b></h3></h5>
        <p class="card-text">Check what types of vehicles are available</p>
        <a href="/vehicletypes" class="btn btn-primary">Manage Vehicle Types</a>
       </div>
      </div>
     </div>
    </section>
   </div>

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Makes</b></h3></h5>
        <p class="card-text">Full list of available vehicle makes</p>
        <a href="/vehiclemakes" class="btn btn-primary">Manage Vehicle Makes</a>
       </div>
      </div>
     </div>
    </section>
   </div>

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Models</b></h3></h5>
        <p class="card-text">Full list of available vehicle models</p>
        <a href="/vehiclemodels" class="btn btn-primary">Manage Vehicle Models</a>
       </div>
      </div>
     </div>
    </section>
   </div>

  </div>

  <div class="row">

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Status</b></h3></h5>
        <p class="card-text">Check the possible statuses a car can have</p>
        <a href="/vehiclestatus" class="btn btn-primary">Manage Vehicle Status</a>
       </div>
      </div>
     </div>
    </section>
   </div>

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicles</b></h3></h5>
        <p class="card-text">Full list of available vehicles</p>
        <a href="/countries" class="btn btn-primary">Manage Vehicles</a>
       </div>
      </div>
     </div>
    </section>
   </div>

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Hires</b></h3></h5>
        <p class="card-text">Check who hired the vehicle</p>
        <a href="#" class="btn btn-primary">Manage Vehicle Hire</a>
       </div>
      </div>
     </div>
    </section>
   </div>

  </div>

  <div class="row">

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Movements</b></h3></h5>
        <p class="card-text">Check where is the vehicle right now</p>
        <a href="/countries" class="btn btn-primary">Manage Vehicle Movement</a>
       </div>
      </div>
     </div>
    </section>
   </div>

   <div class="col-lg-4">
    <section class="panel">
     <div class="panel-body">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title"><h3><b>Vehicle Maintenance</b></h3></h5>
        <p class="card-text">Check when the vehicle needs to be serviced</p>
        <a href="#" class="btn btn-primary">Manage Vehicle Maintenance</a>
       </div>
      </div>
     </div>
    </section>
   </div>

  </div>
 </div>
</body>
</html>