<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>Vehicle Hires</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/fleet">Fleet Home</a></li>
                    <li><i class="fa fa-bars"></i>All Vehicle Hires</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel" style="margin-bottom: 0px;">

                    <div class="panel-body">
                        <a href="/addhire" class="btn btn-primary">
                            Add New Vehicle Hire Record
                        </a>
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading">
                        Vehicle Hires
                    </header>
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                        <tr>
                            <th></th>
                            <th><i class="glyphicon-bookmark"></i> Id</th>
                            <th><i class="icon_paperclip"></i> Vehicle</th>
                            <th><i class="icon_calendar"></i> Date Out</th>
                            <th><i class="icon_calendar"></i> Date In</th>
                            <th><i class="icon_cogs"></i> Details/Edit/Delete</th>
                        </tr>
                        <tr th:each="hire:${hires}">
                            <td><i class="fa fa-bookmark"></i></td>
                            <td th:text="${hire.id}">Id</td>
                            <td th:text="${hire.vehicle}==${null}?${null}:${hire.vehicle.name}">Vehicle</td>
                            <td th:text="${hire.dateOut}">Date Out</td>
                            <td th:text="${hire.dateIn}">Date In</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-success" id="detailsButton"
                                       th:href="@{'/hire/details/'+${hire.id}}"><i class="icon_document_alt"></i></a>
                                    <a class="btn btn-primary" id="editButton"
                                       th:href="@{'/hire/edit/'+${hire.id}}">
                                        <i class="icon_pencil-edit"></i></a>
                                    <a class="btn btn-danger" id="deleteButton"
                                       onclick="return confirm('Are you sure you want to delete this vehicle hire?')"
                                       th:href="@{'/hire/delete/'+${hire.id}}">
                                        <i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
</div>

</body>
</html>
