<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<body>

<div layout:fragment="content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa fa-bars"></i>ADMIN</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/admin">Admin Home</a></li>
          <li><i class="fa fa-bars"></i><a href="/suppliers">All Suppliers</a></li>
          <li><i class="fa fa-bars"></i>View Supplier Record</li>
        </ol>
      </div>
    </div>
    <div class="container" style="width: 70%">
      <div class="row justify-content-center" >
        <div class="col-lg-12">
          <form class="form-horizontal">
            <section class="panel">
              <header class="panel-heading">
                View Supplier Record
              </header>
              <div class="panel-body">
                <div class="col-lg-6">
                  <div class="form-group row">
                    <label for="txtIdAdd" class="col-sm-4 col-form-label">Id</label>
                    <div class="col-sm-6">
                      <input type="text"  th:value="${supplier.id}"  class="form-control" id="txtIdAdd" name="id" placeholder="Id" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtNameAdd" class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.name}" class="form-control" id="txtNameAdd" name="name" placeholder="Name" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtEmailAdd" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-6">
                      <input type="email" th:value="${supplier.email}" class="form-control" id="txtEmailAdd" name="email" placeholder="Email" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtWebsiteAdd" class="col-sm-4 col-form-label">Website</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.website}" class="form-control" id="txtWebsiteAdd" name="website" placeholder="Website" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtAddressAdd" class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.address}" class="form-control" id="txtAddressAdd" name="address" placeholder="Address" rows="2" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group row">
                    <label for="ddlCountryAdd" class="col-sm-4 col-form-label">Country</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.getCountry().getName()}" class="form-control" id="ddlCountryAdd" name="country" placeholder="Country" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="ddlStateAdd" class="col-sm-4 col-form-label">State</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.getState().getCapital()}" class="form-control" id="ddlStateAdd" name="state" placeholder="State" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtPhoneAdd" class="col-sm-4 col-form-label">Phone</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.phone}" class="form-control" id="txtPhoneAdd" name="phone" placeholder="Phone" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtMobileAdd" class="col-sm-4 col-form-label">Mobile</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.mobile}" class="form-control" id="txtMobileAdd" name="mobile" placeholder="Mobile" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="txtDetailsAdd" class="col-sm-4 col-form-label">Details</label>
                    <div class="col-sm-6">
                      <input type="text" th:value="${supplier.details}" class="form-control" id="txtDetailsAdd" name="details" placeholder="Details" rows="2"  readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Created by</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" readonly th:value="${supplier.createdBy}" name="createdBy" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Create Date</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" readonly th:value="${supplier.createDate}" name="createDate" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Modified By</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" readonly th:value="${supplier.lastModifiedBy}" name="lastModifiedBy" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last Modified Date</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" readonly th:value="${supplier.lastModifiedDate}" name="lastModifiedDate" >
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="panel">

              <div class="panel-body">
                <button type="submit" class="btn btn-primary" disabled>
                  Save
                </button>
                <a href="/suppliers" class="btn  btn-warning">
                  Exit
                </a>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

</body>
</html>